<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--数据源给Spring处理-->
    <typeAliases>
        <package name="com.javaStudyWay.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.javaStudyWay.dao.BookMapper"/>
    </mappers>

</configuration>